<div class="col-sm-8">

    <h1><span class="fa fa-sign-in"></span> Sedes</h1>

    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="well">

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" required ngModel>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Añadir</button>
    </form>

    <hr>

</div>

<div class="col-sm-8">
	<table class="table table-hover">
	    <thead>
	        <tr>
	            <td style="text-align:center;">Nombre de las Sedes</td>
	        </tr>
	    </thead>
	    <tbody>
	        <tr *ngFor = "let sede of sedes">
	            <td>{{sede.nombre}}</td>
	        </tr>
	    </tbody>
	</table> 
</div>