<ul class="nav nav-pills nav-stacked">
	<li (click)="onSelect(usuario)" *ngFor = "let usuario of usuarios"> 
		<a> <p>{{usuario.nombre}} {{usuario.apellidos}}</p>
			<p>{{usuario.rol}}</p>
		</a> 
	</li>
</ul>