<mat-card>
<div class="form-group">
  <label>Dimension</label>
  <mat-select [(ngModel)]="dimension" (ngModelChange)="applyDimension()">
      <mat-option *ngFor="let dimension of dimensiones"
          [value]="dimension">{{dimension.numero}}. {{dimension.nombre}}
      </mat-option>
  </mat-select>
</div>


<div class="form-group">
  <label>Componente: </label>
  <mat-select *ngIf="dimension" [(ngModel)]="componente"  (ngModelChange)="applyComponente()">
      <mat-option *ngFor="let componente of dimension.componentes"
          [value]="componente">{{componente.numero}}. {{componente.nombre}}
      </mat-option>
  </mat-select>
</div>

<div class="form-group">
  <label>Criterio: </label>
  <mat-select *ngIf="criterios" [(ngModel)]="criterio" >
      <mat-option *ngFor="let criterio of criterios"
          [value]="criterio">{{criterio.dimension}}.{{criterio.componente}}.{{criterio.criterio}}. {{criterio.descripcion}}
      </mat-option>
  </mat-select>
  <mat-select *ngIf="!criterios" [disabled]="True"></mat-select>
</div>


<div class="form-group">
  <label>Sede: </label>
  <mat-select *ngIf="sedes" [(ngModel)]="sede"  (ngModelChange)="applyComponente()">
      <mat-option *ngFor="let sede of sedes.sedes"
          [value]="sede"> {{sede}}
      </mat-option>
  </mat-select>
  <mat-select *ngIf="!sedes" [disabled]="True"></mat-select>
</div>


  <mat-form-field class="debilidades-full-width">
    <textarea matInput [(ngModel)]="debilidad"  placeholder="Texto de la Debilidad"></textarea>
  </mat-form-field>

  <mat-form-field class="debilidades-full-width">
    <textarea matInput [(ngModel)]="causa" placeholder="Texto de la Causa" ></textarea>
  </mat-form-field>

   <button *ngIf="!compromiso"  mat-raised-button color="primary" (click)="nuevoCompromiso()">Nuevo</button>
   <button *ngIf="compromiso"  mat-raised-button color="secondary" (click)="borrarCompromiso()">Borrar</button>
   <button *ngIf="compromiso"  mat-raised-button color="secondary" (click)="limpiarCompromiso()">Nuevo</button>
   <button *ngIf="compromiso"  mat-raised-button color="primary" (click)="actualizarCompromiso()">Actualizar</button>

  </mat-card>