<div class="container">
  <div class="col-md-4">
    <button (click)="newEscuela()" style="margin-bottom:2px;" type="button"
      class="btn btn-success btn-block">Agregar</button>
    <usuario-list (SelectUsuario)="onSelectUsuario($event)" [usuarios]="usuarios"></usuario-list>
  </div>

  <div class="col-md-8">
    <usuario-detalle (updateUsuarioEvent)="onUpdateUsuarioEvent($event)"
      (deleteUsuarioEvent)="onDeleteUsuarioEvent($event)"
      *ngIf="usuario" [usuario]="usuario"></usuario-detalle>
  </div>
</div>