<div>
    <form >
        <div class="form-group">
            <label>Nombre:</label>
            <input type="input" autocomplete=given-name class="form-control" name="nombre" required
                placeholder="Nombre" [(ngModel)]="usuario.nombre">
        </div>

        <div class="form-group">
            <label>Apellidos:</label>
            <input type="input" autocomplete=family-name class="form-control" name="apellidos" required
                placeholder="Apellidos del usuario." [(ngModel)]="usuario.apellidos">
        </div>

        <div class="form-group">
            <label>Nombre de Usuario:</label>
            <input type="input" autocomplete=username class="form-control" name="userName" required
                placeholder="Nombre de usuario." [(ngModel)]="usuario.userName">
        </div>

        <div class="form-group">
            <label>Correo Electrónico:</label>
            <input type="email" autocomplete=email class="form-control" name="email" required
                placeholder="Correo Electrónico" [(ngModel)]="usuario.email">
        </div>

        <div class="form-group">
            <label>Teléfono</label>
            <input type="tel" autocomplete="off" class="form-control" name="telefono" required ngModel placeholder="Número de Teléfono" [(ngModel)]="usuario.telefono">
        </div>

        <div *ngIf='sedes' class="form-group">
            <label>Sede:</label>
            <select class="form-control" #select [(ngModel)]="usuario.sede"
                name="sede">
                <option *ngFor="let sede of sedes.sedes" [value]="sede">{{sede}}</option>
            </select>
        </div>

        <div class="form-group">
                <label>Puesto:</label>
                <input type="input" autocomplete=default class="form-control" name="puesto" required
                placeholder="Nombre de usuario." [(ngModel)]="usuario.puesto">

            </div>

        <div class="form-group">
            <label>Rol</label>
            <select class="form-control" #select [(ngModel)]="usuario.rol"
                name="rol">
                <option value="Administrador">Administrador</option>
                <option value="Funcionario">Funcionario</option>
                <option value="Evaluador">Evaluador</option>
            </select>
        </div>

        <button type="button" (click)="updateUsuario()" class="btn btn-primary">Actualizar</button>
        <button type="button" (click)="deleteUsuario()" class="btn btn-danger">Eliminar</button>
    </form>
</div>