<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Inicio de Sesión</h1>

    <form action="/api/login" method="post">
      <div class="form-group">
        <label>Nombre de Usuario:</label>
        <input type="text" class="form-control" name="userName">
      </div>
      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" class="form-control" name="pass">
      </div>

      <button type="submit" class="btn btn-warning btn-lg">Inicio de Sesión</button>
    </form>

    <hr>

    <p>¿Necesita una cuenta? <a href="/signup">Signup</a></p>
    <p>o vaya a la  <a href="/">página de inicio</a>.</p>

  </div>

</div>
