<h2 mat-dialog-title>Editar con la informacion deseada:</h2>

<mat-dialog-content>
    <h3> {{actividad.descripcion}}</h3>
    <h3> Evidencias aportadas:</h3>
    <mat-form-field class="debilidades-full-width" style=" width: 100%">
            <mat-list>
                    <mat-list-item *ngFor="let evidencia of actividad.evidencias" <a ng-href="{{path}}">link1</a>> {{evidencia.ruta}}} </mat-list-item>
            </mat-list>

            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
    </mat-form-field>
    
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">Subir Archivo</button>
</mat-dialog-actions>>