@import url('https://fonts.googleapis.com/css?family=Abel');
.linea {
    z-index: 3;
    width: 100%;
    height: 4px;
    left: -1px;
    position: relative;
    border-color: #000000;
    background-color: #E97875;
}

.navbar-brand {
    font-size: 36px;
    font-family: abel, sans-serif;
    color: #000000;
    padding: 0px;
    padding-left: 15px;
}

.navbar-brand-sub {
    font-size: 15px;
    font-family: abel, sans-serif;
    color: #8AABBB;
    padding: 0px;
    margin: 0px;
}

.navbar-header {
    background-color: transparent;
    color: #000000;
    font-size: 36px;
    line-height: 0px;
    font-family: abel, sans-serif;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 30px;
    padding: 0px;
    width: 300px;
}

.navbar {
    margin-left: 32px;
    margin-bottom: 0px;
}

.navbar-nav {
    margin-top: 55px;
    font-size: 20px;
    font-family: abel, sans-serif;
}

.navbar-default .navbar-nav>.active {
    color: #000;
    background: #d65c14;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #000;
    background: #d65c14;
}

.center-block {
    width: 1200px;
    background-color: #ffffff;
}

.body {
    background-color: #acacac;
}

.container {
    padding-bottom: 700px;
}

.accesos {
    margin: 15px;
    margin-top: 80px;
    align-content: center;
}

.portada img {
    object-fit: none;
    object-position: center;
    width: 100%;
    height: 214px;
    object-fit: none;
    padding: 0px;
    object-position: center;
    margin-bottom: 1rem;
}

.texto {
    font-size: 16px;
    font-family: abel, sans-serif;
    color: #000;
    align-content: center;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify ;   
}

.home {
    align-content: center;
}

.tituloSeccion {
    font-size: 26px;
    font-family: abel, sans-serif;
    background-color: #ececec;
    color: #000000;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}