
<div class="form-group">
    <label>Dimension</label>
    <select [(ngModel)]="dimension" (change)="applyDimension()">
        <option *ngFor="let dimension of dimensiones"
            [ngValue]="dimension">{{dimension.numero}}. {{dimension.nombre}}
        </option>
    </select>
</div>


<div class="form-group">
    <label>Componente: </label>
    <select *ngIf="dimension" [(ngModel)]="componente"  (change)="applyComponente()">
        <option *ngFor="let componente of dimension.componentes"
            [ngValue]="componente">{{componente.numero}}. {{componente.nombre}}
        </option>
    </select>
</div>


    <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="dimension">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. de Criterio </mat-header-cell>
            <mat-cell *matCellDef="let proyecto"> {{proyecto.dimension}}.{{proyecto.componente}}.{{proyecto.criterio}}
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let proyecto"> {{proyecto.descripcion}} 
                <mat-icon>add_circle_outline</mat-icon>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
    </mat-paginator>