<div class="center-block">
  <div class="col-md-12 linea">
  </div>

  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header col-4">
        <a class="navbar-brand col-12" href="#">
          S-RED</a>
        <a class="navbar-brand-sub col-xs-12" href="#">
          Sistema de Recolección de Evidencia Documental</a>
      </div>
      <ul class="nav navbar-nav navbar-right col-8">
        <li>
          <a routerLink="/" routerLinkActive="active">Inicio</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Proyecto
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/infoEscuela" routerLinkActive="active">Información de la Escuela</a>
            </li>
            <li>
              <a routerLink="/proyecto" routerLinkActive="active">Información del SINAES</a>
            </li>
            <li>
              <a routerLink="/debilidadcausa" routerLinkActive="active">Debilidades y Causas</a>
            </li>
            <li>
              <a routerLink="/objetivosIndicadores" routerLinkActive="active">Objetivos e Indicadores</a>
            </li>
            <li>
              <a routerLink="/actividades" routerLinkActive="active">Actividades</a>
            </li>
          </ul>
        </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Seguimiento de Actividades
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/ejecucionActividades">Ejecución de Actividades</a>
          </li>
          <li>
            <a href="/agregarEvidencias">Agregar Evidencias</a>
          </li>
          <li>
            <a href="#">Seguimiento del Evaluador</a>
          </li>
        </ul>
      </li>

      
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Evidencias</a>
            </li>
            <li>
              <a href="#">Archivo del Proyecto</a>
            </li>
            <li>
              <a routerLink="/graficos">Reporte de Ejecución de Actividades</a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/sede">Control de Sedes</a>
            </li>
            <li>
              <a routerLink="/usuario">Usuarios</a>
            </li>
            <li>
              <a routerLink="/perfil">Perfil</a>
            </li>
          </ul>
        </li>
      <li>
        <a routerLink="/registrarUsuario" routerLinkActive="active" >
          <span class="glyphicon glyphicon-user"></span>
          Sign Up</a>
      </li>
      <li >
        <a routerLink="/profile" routerLinkActive="active" >
          
          </a>
      </li>

      <li class="dropdown" *ngIf="user">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-log-in"></span>
            {{user.userName}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/profile">Profile</a>
            </li>
            <li>
              <a href="/api/logout">Logout</a>
            </li>
          </ul>
        </li>

      <li *ngIf="!user">
          <a routerLink="/login" routerLinkActive="active" >
            <span class="glyphicon glyphicon-log-in"></span>
            Login</a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="col-md-12 linea">
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>>