<div class="form-group">
    <div class="form-group">
        <label>Dimension</label>
        <mat-select [(ngModel)]="dimension" (ngModelChange)="applyDimension()">
            <mat-option *ngFor="let dimension of dimensiones"
                [value]="dimension">{{dimension.numero}}. {{dimension.nombre}}
            </mat-option>
        </mat-select>
    </div>


    <div class="form-group">
        <label>Componente: </label>
        <mat-select *ngIf="dimension" [(ngModel)]="componente"
            (ngModelChange)="applyComponente()">
            <mat-option *ngFor="let componente of dimension.componentes"
                [value]="componente">{{componente.numero}}.
                {{componente.nombre}}
            </mat-option>
        </mat-select>
    </div>

    <div class="form-group">
        <label>Criterio: </label>
        <mat-select *ngIf="criterios" [(ngModel)]="criterio"
            (ngModelChange)="applyCriterio()">
            <mat-option *ngFor="let criterio of criterios"
                [value]="criterio">{{criterio.dimension}}.{{criterio.componente}}.{{criterio.criterio}}.
                {{criterio.descripcion}}
            </mat-option>
        </mat-select>
        <mat-select *ngIf="!criterios" [disabled]="True"></mat-select>
    </div>

    <!-- Inicio de Tabla de Datos -->
    <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource"
        matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="No.">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. de Criterio
            </mat-header-cell>
            <mat-cell *matCellDef="let actividad">
                {{actividad.objetivo.compromisoMejora.manualSinaes.dimension}}.
                {{actividad.objetivo.compromisoMejora.manualSinaes.componente}}.
                {{actividad.objetivo.compromisoMejora.manualSinaes.criterio}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Indicadores">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Indicadores
            </mat-header-cell>
            <mat-cell *matCellDef="let actividad">
                {{actividad.objetivo.indicadores[actividad.indicador].descripcion}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción
            </mat-header-cell>
            <mat-cell *matCellDef="let actividad">
                    <textarea [(ngModel)]="actividad.descripcion" placeholder="" ></textarea>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Responsable">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Responsables
            </mat-header-cell>
            <mat-cell *matCellDef="let actividad">
                <mat-select placeholder="Responsables" [(ngModel)]="actividad.responsable" multiple>
                    <mat-option *ngFor="let responsable of centros" [value]="responsable">{{responsable}}</mat-option>
                  </mat-select>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Finalizacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Finalización
            </mat-header-cell>
            <mat-cell *matCellDef="let actividad">
                <input type="date" [(ngModel)]="actividad.fechaFinalizacion">
            </mat-cell>
        </ng-container>



        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
    </mat-paginator>

    <button  mat-raised-button color="primary" (click)="guardarCambios()">Guardar Cambios</button>
