<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Sign up</h1>

    

    <!-- LOGIN FORM -->
    <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="well">

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" required ngModel>
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input type="text" class="form-control" name="apellidos" required ngModel>
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" name="email" required ngModel>
        </div>

        <div class="form-group">
            <label>Teléfono</label>
            <input type="tel" class="form-control" name="telefono" required ngModel>
        </div>

        <div class="form-group">
            <label>Puesto</label>
            <input type="text" class="form-control" name="puesto" required ngModel>
        </div>

        <div class="form-group">
            <label>Nombre de Usuario</label>
            <input type="text" class="form-control" name="userName" required ngModel>
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" class="form-control" name="pass" required ngModel>
        </div>

        <div class="form-group">
            <label>Sede</label>
            <select class="form-control" name="sede" >
                <option *ngFor="let sede of sedes.sedes" [value]="sede">{{sede}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Tipo de cuenta</label>
            <select name="rol" required ngModel>
                <option value="Administrador">Administrador</option>
                <option value="Funcionario">Funcionario</option>
                <option value="Evaluador">Evaluador</option>
            </select>
        </div>

        

        <button type="submit" class="btn btn-warning btn-lg">Añadir</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>