<div class="form-group">
    <div class="form-group">
        <label>Dimension</label>
        <mat-select [(ngModel)]="dimension" (ngModelChange)="applyDimension()">
            <mat-option *ngFor="let dimension of dimensiones"
                [value]="dimension">{{dimension.numero}}. {{dimension.nombre}}
            </mat-option>
        </mat-select>
    </div>


    <div class="form-group">
        <label>Componente: </label>
        <mat-select *ngIf="dimension" [(ngModel)]="componente"
            (ngModelChange)="applyComponente()">
            <mat-option *ngFor="let componente of dimension.componentes"
                [value]="componente">{{componente.numero}}.
                {{componente.nombre}}
            </mat-option>
        </mat-select>
    </div>

    <div class="form-group">
        <label>Criterio: </label>
        <mat-select *ngIf="criterios" [(ngModel)]="criterio"
            (ngModelChange)="applyCriterio()">
            <mat-option *ngFor="let criterio of criterios"
                [value]="criterio">{{criterio.dimension}}.{{criterio.componente}}.{{criterio.criterio}}.
                {{criterio.descripcion}}
            </mat-option>
        </mat-select>
        <mat-select *ngIf="!criterios" [disabled]="True"></mat-select>
    </div>


    <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource"
        matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="No.">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. de Criterio
            </mat-header-cell>
            <mat-cell *matCellDef="let objetivo">
                {{objetivo.compromisoMejora.manualSinaes.dimension}}.
                {{objetivo.compromisoMejora.manualSinaes.componente}}.
                {{objetivo.compromisoMejora.manualSinaes.criterio}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Debilidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Debilidad
            </mat-header-cell>
            <mat-cell *matCellDef="let objetivo">
                {{objetivo.compromisoMejora.debilidad}}
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Causa">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Causa
            </mat-header-cell>
            <mat-cell *matCellDef="let objetivo">
                {{objetivo.compromisoMejora.causa}}

            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Objetivo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Objetivo
            </mat-header-cell>
            <mat-cell *matCellDef="let objetivo"> {{objetivo.objetivo}}
                <mat-icon class="right" (click)="openDialog(objetivo, row)">add_circle_outline</mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Indicadores">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Indicadores
            </mat-header-cell>
            <ng-container>
                <mat-cell *matCellDef="let objetivo">
                    <ng-container>
                        <mat-list>
                            <mat-list-item (click)="editarIndicador(objetivo, ind)"
                                *ngFor="let ind of objetivo.indicadores">
                                {{ind.descripcion}}
                            </mat-list-item>
                            <mat-list-item (click)="nuevoIndicador(objetivo)">
                                Nuevo Indicador...
                            </mat-list-item>
                        </mat-list>
                    </ng-container>
                </mat-cell>
            </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
    </mat-paginator>
