<h2 mat-dialog-title>Editar con la informacion deseada:</h2>

<mat-dialog-content>
    <mat-form-field class="debilidades-full-width" style=" width: 100%">
        <textarea matInput [(ngModel)]="objetivo"
            placeholder="Objetivo"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="actualizar()">Actualizar</button>
</mat-dialog-actions>>