<div class="container home centered">
	<div class="col-md-3 accesos">
		<a  href="seguimiento.html">
			<img class="col-md-12 portada" src="assets/images/portada1.jpg" alt="">
			<p class="tituloSeccion col-md-12">Compromiso de Mejora</p>
			<p class="texto col-md-12">La Escuela de Ingeniería en Computación como parte del proceso de acreditación 
				tiene el compromiso de mejorar continuamente, con el fin de brindar educación y profesionales de calidad.</p>
		</a>
		
		</div>
	<div class="col-md-3 accesos">
		<a  href="seguimiento.html">
			<img class="col-md-12 portada" src="assets/images/portada2.jpg" alt="">
			<p class="tituloSeccion col-md-12">Seguimiento</p>
			<p class="texto col-md-12">Seguimiento de todas las evidencias que se recolectan en el proceso 
				de acreditación.</p>
		</a>
	</div>
	<div class="col-md-3 accesos">
		<a href="seguimiento.html">
			<img class="col-md-12 portada " src="assets/images/portada3.jpg" alt="">
			<p class="tituloSeccion col-md-12">Reportes</p>
			<p class="texto col-md-12">Reportes de avances y estadisticas para llevar un mejor control del progreso en
				el cumplimiento de las metas del proceso de acreditación.</p>
		</a>
	</div>

</div>