.texto {
    font-size: 16px;
    font-family: abel, sans-serif;
    color: #000;
    align-content: center;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify ;   
}

.panelt{
    background: #d65c14;
    color: #ffffff;
}