
  <h1 class="titulo">ESCUELA DE INGENIERÍA EN COMPUTACIÓN</h1>

<mat-expansion-panel >
  <mat-expansion-panel-header class= "panelt">
    <mat-panel-title>
      Misión
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p class= "texto">Contribuir a la sociedad costarricense en la generación de conocimiento científico-tecnológico en computación a través de la docencia, investigación, extensión y vinculación externa, basados en principios de excelencia académica, pertinencia social, regionalización, equidad y formación integral..</p>

  <mat-expansion-panel-header class= "panelt">
    <mat-panel-title>
      Valores
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p class= "texto">
    Excelencia: búsqueda y compromiso con la calidad y efectividad en todas las actividades.
    Transparencia: es la actuación permanente en el marco de los principios éticos, morales y jurídicos para la construcción de entornos honestos y confiables.
 
  </p>

  <mat-expansion-panel-header class= "panelt">
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p class= "texto">Docencia: Buscar la excelencia y estandarización en la gestión curricular
     Fortalecer la innovación educativa: Mantener la pertinencia de opciones académicas en computación

  </p>

</mat-expansion-panel>

